# KUIS 2 Pembelajaran Mesin

## Tentang dataset

Pada sebuah lembaga kemanusiaan berbasis teknologi informasi, dibentuk beberapa tim kemanusiaan yang bertugas untuk terjun ke masyarakat memberikan bantuan dalam bentuk aplikasi komputer atau layanan pelatihan IT.  Kegiatn tersebut dilaksanakan setiap tahun dengan ketentuan anggota organisasi tersebut dapat bergabung ke beberapa tim sebagai ketua atau anggota. Terdapat pula anggota yang sudah tidak aktif di organisasi tersebut (terhapus di database mereka â€”> label N/A).  Organisasi tersebut juga melakukan rekrutmen volunteer, namun tidak semua tim menggunakan bantuan volunteer. Hasil kegiatan dari setiap tim dapat diwujudkan ke dalam sebuah pengakuan hak cipta atau publikasi karya ilmiah atau publikasi berita di media massa.

## Ketentuan
1. Pengerjaan secara individu alias setiap mahasiswa!
2. Terdapat data dengan nilai #N/A, pertimbangkan cara terbaik untuk mengatasi nilai tersebut.
3. Tidak boleh ada duplikasi pekerjaan antar mahasiswa
4. Berikan penjelasan untuk setiap tahapan. Jangan hanya kode!

## Soal
1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)
2. Tentukan data validasi! (10 poin)
3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)
4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)
5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

In [37]:
import numpy as np
import pandas as pd

df = pd.read_excel('data/dataset_quiz.xlsx')

df.head(100)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,NaN,NaN,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,NaN,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [38]:
#PENGECEKAN NULL
#TERDAPAT BEBERAPA KOLOM YANG BERISI NULL
df.isnull().sum()

id_ketua               3
id_anggota1            5
id_anggota2            4
id_anggota3            3
id_anggota4           13
id_anggota5           84
keterlibatan_vltr      0
jml_vltr_terlibat      0
tahun                  0
skema                  0
luaran_hki             0
jenis_luaran_hki       0
potensi_hki            0
luaran_lain            0
jenis_luaran_lain      0
status_luaran_lain     0
dtype: int64

In [113]:
#PEMBERIAN DATA YANG NULL DENGAN NILAI MODUS, MEAN dengan simple imputer
from sklearn.impute import SimpleImputer

pengisian = SimpleImputer(missing_values=np.nan, strategy="constant", copy=False)
fitur_kolom = ['id_ketua', 'id_anggota1', 'id_anggota2', 'id_anggota3', 'id_anggota4', 'id_anggota5']

df[fitur_kolom] = pengisian.fit_transform(df[fitur_kolom])
df.head()

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,0.0,0,0,2019,1,1,1,2,0,3,1
1,7214.0,7109.0,8402.0,7903.0,9202.0,0.0,0,0,2019,1,1,1,2,0,3,1
2,5911.0,8201.0,8701.0,9101.0,9003.0,0.0,0,0,2019,1,1,1,2,0,3,1
3,8402.0,7702.0,8602.0,8903.0,8903.0,0.0,0,0,2019,1,1,1,2,0,3,1
4,8201.0,8305.0,5911.0,5903.0,8402.0,0.0,0,0,2019,1,1,1,2,0,3,1

In [114]:
#PENGECEKAN NULL
#SUDAH RIDAK TERDAPAT KOLOM YANG BERISI NULL
df.isnull().sum()

id_ketua              0
id_anggota1           0
id_anggota2           0
id_anggota3           0
id_anggota4           0
id_anggota5           0
keterlibatan_vltr     0
jml_vltr_terlibat     0
tahun                 0
skema                 0
luaran_hki            0
jenis_luaran_hki      0
potensi_hki           0
luaran_lain           0
jenis_luaran_lain     0
status_luaran_lain    0
dtype: int64

SOAL NO 1

In [115]:
from sklearn.model_selection import train_test_split

df_train, df_unseen = train_test_split(df, test_size=0.2, random_state=3, stratify=df['keterlibatan_vltr'])

df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=30, stratify=df_unseen['keterlibatan_vltr'])

SOAL NO 2

In [133]:
# 0 = YA
# 1 = TIDAK
# Terdapat 4 data validasi bernilai YA dan 4 data validasi berniali TIDAK
print(f'Label validasi : \n{df_val.keterlibatan_vltr.value_counts()}')

Label validasi :
0    4
1    4
Name: keterlibatan_vltr, dtype: int64

SOAL NO 3

In [134]:
# import label encoder
# labeling manual
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

df['keterlibatan_vltr'] = label_encoder.fit_transform(df['keterlibatan_vltr'])
df['skema'] = label_encoder.fit_transform(df['skema'])
df['luaran_hki'] = label_encoder.fit_transform(df['luaran_hki'])
df['jenis_luaran_hki'] = label_encoder.fit_transform(df['jenis_luaran_hki'])
df['potensi_hki'] = label_encoder.fit_transform(df['potensi_hki'])
df['luaran_lain'] = label_encoder.fit_transform(df['luaran_lain'])
df['jenis_luaran_lain'] = label_encoder.fit_transform(df['jenis_luaran_lain'])
df['status_luaran_lain'] = label_encoder.fit_transform(df['status_luaran_lain'])

SOAL NO 4

In [135]:
#SELEKSI FITUR 
X = df.iloc[:,0:16]
y = df['tahun']
X.head()

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,0.0,0,0,2019,1,1,1,2,0,3,1
1,7214.0,7109.0,8402.0,7903.0,9202.0,0.0,0,0,2019,1,1,1,2,0,3,1
2,5911.0,8201.0,8701.0,9101.0,9003.0,0.0,0,0,2019,1,1,1,2,0,3,1
3,8402.0,7702.0,8602.0,8903.0,8903.0,0.0,0,0,2019,1,1,1,2,0,3,1
4,8201.0,8305.0,5911.0,5903.0,8402.0,0.0,0,0,2019,1,1,1,2,0,3,1

In [136]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

KLASIFIKASI DENGAN DECISION TREE

In [137]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)

y_pred_dt = dt.predict(X_test)

acc_dt = accuracy_score(y_test, y_pred_dt)
print(f"Hasil score Decision Tree : {acc_dt}")

Hasil score Decision Tree : 1.0

KLASIFIKASI DENGAN SVM POLYNOMIAL

In [138]:
from sklearn.svm import SVC

svm = SVC(kernel='poly', degree=10)

svm.fit(X_train, y_train)

y_pred_svm = svm.predict(X_test)

score_svm = accuracy_score(y_test, y_pred_svm)

print(f"Hasil score SVM : {score_svm}")

Hasil score SVM : 0.4117647058823529

SOAL NO 5

In [139]:
from sklearn.model_selection import RepeatedKFold

cv = RepeatedKFold(n_splits=4, n_repeats=3, random_state=30)

GRID SEARCH

In [140]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 2)
k_range = list(range(1,8))
param_grid = dict(n_neighbors=k_range)

grid = GridSearchCV(knn, param_grid, cv=10, scoring='accuracy', return_train_score=False,verbose=1)

grid_search=grid.fit(X_train, y_train)

accuracy = grid_search.best_score_ *100
print("Akurasi dengan GridSearch : {:.2f}%".format(accuracy) )

Fitting 10 folds for each of 7 candidates, totalling 70 fits
Akurasi dengan GridSearch : 38.33%

RANDOMIZED SEARCH

In [141]:
hyperparameter_space = {'max_depth':[2,3,4,6,8,10,12,15,20], 
                        'min_samples_split':[1,2,3,4,5,6,8,10]}

from sklearn.model_selection import RandomizedSearchCV
rs = RandomizedSearchCV(dt, param_distributions=hyperparameter_space,
                        n_iter=10, scoring="accuracy", random_state=0,
                        n_jobs=-1, cv=10, return_train_score=True)

rs.fit(X_train, y_train)

rs.best_estimator_.fit(X_train, y_train)
y_pred = rs.best_estimator_.predict(X_test) 
y_true = y_test 

print("Akurasi dengan RandomizedSearch:", np.round(accuracy_score(y_true, y_pred), 2))

Akurasi dengan RandomizedSearch: 1.0

c:\Users\User\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [1.         1.                nan 1.         1.         1.
 0.77619048 1.         1.         1.        ]
  warnings.warn(
c:\Users\User\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the train scores are non-finite: [1.         1.                nan 1.         1.         1.
 0.77937599 1.         1.         1.        ]
  warnings.warn(